.home_page_photo {

    width: 200px;
    height: 150px !important;
}



.pager .active a {

    background-color: #000 !important;
    color: #fff !important;

    }

    .pager .active a:hover {

        background-color: #000 !important;
        color: #fff !important;

        }
        ***********Photo Library Modal Code ************/


        .modal-dialog {
        width: 90% !important;



        }

        .modal-body {
        overflow: auto;
        height: 500px !important;
        min-height: 300px !important;
        }

        .modal_thumbnails {

            width: 150px;
            height: 100px !important;
        }

        #set_user_image {

        margin:10px;

        }


        #modal_sidebar {

        position: fixed !important;

        }


        /**********Login Page **********/


        #login-id label {

        color:#fff;


        }

        /********** Photo Library Modal Code ************/


        .modal-dialog {
        width: 90% !important;



        }

        .modal-body {
        overflow: auto;
        height: 500px !important;
        min-height: 300px !important;
        }

        .modal_thumbnails {

            width: 150px;
            height: 100px !important;
        }

        #set_user_image {

        margin:10px;

        }


        #modal_sidebar {

        position: fixed !important;

        }


        /**********Login Page **********/


        #login-id label {

        color:#fff;


        }
